/* 1em - 16px 
So always divide the breakpoint width by 16 in order to get the value in em
*/

/* BELLOW 1344px (Smaller Laptops) */

@media (max-width: 84em) {
  .hero-grid-container {
    max-width: 120rem;
  }
  .hero-text h1 {
    font-size: 4.4rem;
  }
  .testimonial-images-box {
    grid-template-columns: 1fr 1fr;
  }
  .quotes-grid {
    padding-top: 4.8rem;
    padding-bottom: 1.6rem;
  }
  .testimonials-section {
    padding: 4.8rem 3.8rem;
  }
}

@media (max-width: 75em) {
  html {
    /* 9 divided by 16 */
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .secondary-heading {
    font-size: 3.6rem;
  }

  .third-heading {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .hero-grid-container {
    gap: 4.8rem;
  }

  .section-list {
    gap: 3.2rem;
  }

  .testimonials-box {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  .testimonials-section {
    grid-template-columns: 1fr;
  }
  .testimonial-images-box {
    margin-top: 2.4rem;
    grid-template-columns: repeat(6, 1fr);
  }
  .grid--cta-small {
    grid-template-columns: 1fr;
  }
  .cta-btn {
    margin-top: 1.6rem;
  }
}

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .hero-grid-container {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text,
  .hero-images {
    text-align: center;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-images {
    width: 60%;
    justify-self: center;
  }

  .customers {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .featured-imgs img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-description {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .nav-menu-mobile {
    display: block;
    z-index: 9999;
  }

  .section-list {
    gap: 4.8rem;
  }

  .navigation {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    justify-content: center;
    align-items: center;

    /* display: none doesn't allow transitions */

    /* hide it visually */
    opacity: 0;
    /* hide it from mouse and keyboard */
    pointer-events: none;
    /* hide it from screen readers */
    visibility: hidden;

    transition: all 0.5s;
  }

  .nav-open .navigation {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }

  .nav-open .nav-menu-mobile-icon[name="menu-outline"] {
    display: none;
  }

  .nav-open .nav-menu-mobile-icon[name="close-outline"] {
    display: block;
  }

  .section-list {
    flex-direction: column;
  }

  .nav-btn:link,
  .nav-btn:visited {
    font-size: 3.2rem;
  }
}

@media (max-width: 44em) {
  .grid--3-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--5-cols {
    grid-template-columns: repeat(6, 1fr);
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .secondary-heading {
    margin-bottom: 4.8rem;
  }

  .card-item {
    width: 100%;
  }
  .footer-column {
    grid-row: 1;
    grid-column: span 2;
  }

  .footer-column-address,
  .footer-column-logo {
    grid-column: span 3;
  }
  .footer-logo {
    width: 65%;
  }
  .copyright {
    margin: 0;
    margin-top: 2rem;
  }
  .quotes-grid {
    padding-top: 0;
  }
}

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
  }

  .grid--3-cols {
    grid-template-columns: 1fr;
  }

  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .pricing-cards-grid {
    grid-template-columns: 1fr;
  }
  .complete::before {
    right: -10%;
  }
  .hero-grid-container {
    padding: 0 6.4rem;
  }
  .btn:link,
  .btn:visited {
    padding: 3.2rem 3.2rem;
  }
  .featured-imgs img {
    height: 1.4rem;
  }
  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .phone-app-img {
    transform: translateY(2rem);
  }
  .testimonial-images-box {
    grid-template-columns: repeat(4, 1fr);
  }
  .cta-text {
    padding: 4.8rem 6.4rem 3.2rem 6.4rem;
  }

  .no-flexbox-gap .section-list li:not(:last-child) {
    margin-right: 4.8rem;
  }

  .no-flexbox-gap .list-item:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  .no-flexbox-gap .diets-icon:not(:last-child) {
    margin-right: 1.6rem;
  }

  .no-flexbox-gap .delivered-faces {
    margin-right: 1.6rem;
  }

  .no-flexbox-gap .meal-info li:not(:last-child) {
    margin-bottom: 2rem;
  }

  .no-flexbox-gap .meal-icon {
    margin-right: 1.6rem;
  }

  .no-flexbox-gap .footer-row div:not(:last-child) {
    margin-right: 6.4rem;
  }

  .no-flexbox-gap .logo-links li:not(:last-child) {
    margin-right: 2.4rem;
  }

  .no-flexbox-gap .footer-nav li:not(:last-child) {
    margin-bottom: 2.4rem;
  }

  @media (max-width: 75em) {
    .no-flexbox-gap .section-list li:not(:last-child) {
      margin-right: 3.2rem;
    }
  }

  @media (max-width: 59em) {
    .no-flexbox-gap .section-list li:not(:last-child) {
      margin-right: 0;
      margin-bottom: 4.8rem;
    }
  }
}
