body {
  font-family: sans-serif;
  font-size: 16px;
}

article {
  border: rgb(78, 78, 78) solid 5px;
}

h2,
h3,
.shipping {
  text-transform: uppercase;
}

h2 {
  background-color: #f3f3f3;
  text-align: center;
  font-size: 20px;
}

h3 {
  font-size: 17px;
}

.shipping {
  color: #636363;
  font-weight: bold;
  font-size: 15px;
}

strong {
  font-size: 23px;
}

a:link {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: square;
}

button {
  text-transform: uppercase;
  font-size: 20px;
  background-color: black;
  color: #f3f3f3;
  border: none;
}

button:hover {
  background-color: white;
  color: black;
}
