body {
  font-family: sans-serif;
  line-height: 1.4;
  font-size: 16px;
}

/* PRODUCT */

.product {
  border: rgb(78, 78, 78) solid 5px;
  margin-bottom: 80px;
}

.product-details,
.shipping,
.product-title {
  text-transform: uppercase;
}

.product-title {
  background-color: #f3f3f3;
  text-align: center;
  font-size: 22px;
}

.product-details {
  font-size: 17px;
}

.shipping {
  color: #636363;
  font-weight: bold;
  font-size: 15px;
}

/* PRODUCT DETAILS */

.product-price {
  font-size: 23px;
}

.product-information:link {
  color: black;
  text-decoration: underline;
}

.product-information:visited {
  color: black;
}

.product-information:hover {
  text-decoration: none;
}

.details {
  list-style: square;
}

/* BUTTONS */

.add-cart {
  text-transform: uppercase;
  font-size: 20px;
  background-color: black;
  color: #f3f3f3;
  cursor: pointer;
  border: none;
}

.add-cart:hover {
  background-color: white;
  color: black;
}
