* {
  margin: 0;
  padding: 0;
}

body {
  border-top: #d13030 10px solid;
  font-family: sans-serif;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  color: #444;
  font-size: 20px;
  position: relative;
}

.main-header {
  background-color: #f7f7f7;
  margin-bottom: 60px;
  padding: 20px 40px;
  height: 80px;
}

.posted-by-photo {
  width: 100%;
  height: auto;
}

li,
footer {
  color: #444;
}

h2 {
  font-size: 35px;
  position: relative;
}

h3 {
  font-size: 30px;
}

h1 {
  font-size: 30px;
  font-style: italic;
  margin-bottom: 0;
}

h1,
h2,
h3 {
  color: #d13030;
}

h1,
h4 {
  text-transform: uppercase;
}

h4 {
  text-align: center;
}

h3 {
  margin-bottom: 5px;
}

.posted-by {
  font-style: italic;
}

a:link {
  color: #d13030;
  text-decoration: none;
}

a:visited {
  color: #d13030;
}

a:hover {
  color: orangered;
}

a:active {
  background-color: black;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

.related-posts li {
  list-style: none;
  color: #d13030;
}

.author {
  font-weight: bold;
}

footer {
  font-size: 15px;
}

p {
  margin-bottom: 20px;
}

ol,
ul {
  margin-left: 60px;
}

li {
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 20px;
}

aside {
  background-color: #f7f7f7;
  border-top: #d13030 solid 5px;
  border-bottom: #d13030 solid 5px;
  width: 800px;
}

.container {
  margin: 0 auto;
  width: 800px;
}

nav a:link {
  margin-right: 15px;
}

nav a:link:last-child {
  margin-right: 0;
}

.posts {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.related-posts {
  margin: 0 auto;
}

h1::first-letter {
  font-style: normal;
}

.like-button {
  position: absolute;
  font-size: 20px;
  padding: 20px;
  bottom: 50px;
  right: 40px;
  cursor: pointer;
}

h2:after {
  content: "TOP";
  display: inline-block;
  background-color: rgb(255, 230, 0);
  color: black;
  font-size: 15px;
  padding: 3px 9px;
  position: absolute;
  top: 0;
  right: -4px;
}
