* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  border-top: #1098ad solid 10px;
  font-family: sans-serif;
  color: #444;
  margin-top: 0;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

nav a:link {
  margin-right: 30px;
}

nav a:link:last-child {
  margin-right: 0px;
}

.post-img {
  width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /* margin: 0 (margin-top/bottom) auto (margin-left/right) */
}

.like-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}

aside {
  background-color: #f7f7f7;
  border-top: #1098ad solid 5px;
  border-bottom: #1098ad solid 5px;
  margin-top: 50px;
  padding: 50px 0;
}

.posted-by {
  font-style: italic;
  font-size: 20px;
}

.post-header {
  margin-bottom: 30px;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
  position: relative;
}

h3 {
  font-size: 30px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
}

.related {
  list-style: none;
  width: 100%;
}

/*footer p {
  font-size: 16px;
}

/* article header p {
  font-size: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-weight: bold;
  margin-bottom: 5px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  margin-bottom: 20px;
}

/* Styling Hyperlinks (LVHA) */

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
}

a:active {
  background-color: black;
}

ol,
article ul {
  margin-left: 70px;
}

h2:after {
  content: "TOP";
  background-color: rgb(255, 230, 0);
  color: black;
  display: inline-block;
  font-size: 15px;
  padding: 3px 9px;
  position: absolute;
  top: 0;
  right: -15px;
}

h1::first-letter {
  font-style: normal;
}

/* FLOATS 

.author-img {
  float: left;
  margin-bottom: 20px;
}

.posted-by {
  float: left;
  margin-left: 10px;
  padding-top: 9px;
}

h1 {
  float: left;
}

nav {
  float: right;
  padding-top: 5px;
}

.clearing {
  clear: both;
}

article {
  width: 825px;
  float: left;
}

aside {
  width: 300px;
  float: right;
}

footer {
  clear: both;
}

aside ul {
  padding: 40px;
}

aside ul li {
  margin-bottom: 30px;
}

*/

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.posted-by-image-and-text {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.related {
  padding: 35px;
}

.post {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 1rem;
}

.post:last-child {
  margin-bottom: 0px;
}

.related-author {
  font-style: italic;
  font-weight: normal;
  font-size: medium;
}

.related-link:link {
  font-weight: bold;
}

.create-flex {
  display: flex;
  flex: 0 0 300px;
  /* flex: flex grow, flax-shrink, flex-basis */
  gap: 50px;
  align-items: flex-start;
}

article {
  flex: 0 0 800px;
}
