* {
  margin: 0;
  padding: 0;
}

body {
  border-top: #1098ad solid 10px;
  font-family: sans-serif;
  color: #444;
  margin-top: 0;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

nav a:link {
  margin-right: 30px;
}

nav a:link:last-child {
  margin-right: 0px;
}

.post-img {
  width: 50%;
}

.container {
  width: 800px;
  margin: 0 auto;
  /* margin: 0 (margin-top/bottom) auto (margin-left/right) */
}

aside {
  background-color: #f7f7f7;
  border-top: #1098ad solid 5px;
  border-bottom: #1098ad solid 5px;
  margin-top: 50px;
  padding: 50px 0;
  width: 500px;
}

.posted-by {
  font-style: italic;
  font-size: 19px;
}

.post-header {
  margin-bottom: 30px;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
}

.related {
  list-style: none;
}

/*footer p {
  font-size: 16px;
}

/* article header p {
  font-size: italic;
} */

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-weight: bold;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 20px;
}

/* Styling Hyperlinks (LVHA) */

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
}

a:active {
  background-color: black;
}

ul,
ol {
  margin-left: 70px;
}
