* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: sans-serif;
}

nav,
.left-nav,
.right-nav {
  display: flex;
  align-items: center;
}

nav {
  justify-content: space-between;
  background-color: rgb(16, 0, 79);
  padding: 1.4rem 5.4rem;
  font-size: 0.8rem;
  color: #fff;
  font-weight: 600;
}

.logo {
  display: inline-block;
  padding-right: 1.6rem;
}

.left-links,
.right-links {
  display: flex;
  gap: 1.4rem;
  align-items: center;
}

.nav-btn:link,
.nav-btn:active,
.nav-btn:hover,
.nav-btn:visited {
  text-decoration: none;
  color: #fff;
}

.btn--login {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.4rem 0.8rem;
  border-radius: 100rem;
}

.hero-section {
  width: 75rem;
  margin: 0 auto;
}

.hero-img {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}

.hero-img-container {
  position: relative;
  top: 50%;
}

.hero-search-container {
  width: 92%;
  box-shadow: 10px 10px 5px 5px #c9c9c9;
  margin: 0 auto;
  padding: 1.8rem 6.75rem 1.4rem 1rem;
  border-radius: 0.4rem;
  border-top-left-radius: 0;
  background-color: #fff;
}

.nav-search-item:active,
.nav-search-item:link,
.nav-search-item:hover,
.nav-search-item:visited {
  color: #c9c9c9;
  text-decoration: none;
  font-size: 0.8rem;
}

.item--selected.nav-search-item:active,
.item--selected.nav-search-item:link,
.item--selected.nav-search-item:hover,
.item--selected.nav-search-item:visited {
  color: rgb(16, 0, 79);
  border-bottom: 1px solid rgb(232, 17, 75);
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
}

.hero-nav-search-container {
  width: 46%;
  margin-left: 3rem;
  padding: 0.8rem 1.4rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-content: space-between;
  gap: 2.4rem;
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  background-color: #fff;
}

.travel-searcher {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80%;
}

.search-item:link,
.search-item:active,
.search-item:hover,
.search-item:visited {
  text-decoration: none;
  color: rgb(16, 0, 79);
  font-size: 0.9rem;
}

.search-destinations {
  display: flex;
  gap: 0.8rem;
}

.search-date {
  display: flex;
  gap: 0;
}

.search-options {
  display: flex;
  margin-bottom: 0.8rem;
  padding: 0 0.8rem;
  gap: 3rem;
}

.search-input {
  padding: 1rem 1.8rem 1rem 0.8rem;
  border: 0.8px solid #c9c9c9;
  border-radius: 0.4rem;
}

.input--departure {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

.input--return {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.search-btn {
  font-size: 1rem;
  color: #fff;
  background-color: rgb(232, 17, 75);
  font-weight: bold;
  border: none;
  padding: 1rem 3.2rem;
  border-radius: 0.4rem;
}

.latam-pass {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.check-latam-pass {
  padding: 0.15rem 0.65rem;
  background-color: #fff;
  border: solid 1px rgb(52, 2, 255);
  border-radius: 0.2rem;
  cursor: pointer;
}

.selected-line {
  padding: 1.6rem;
  width: 100%;
}
